<div id="header">
  <div id="logo">
    <div id="logo_text">
      <h1><a href="index.html">Online<span class="logo_colour">Bookstore</span></a></h1>
      <h2>Any book you Want..</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu">
     <li class="selected"><%= link_to 'Home',home_index_path %></li>
     <li><%= link_to 'Books Category', books_path %></li>
    </ul>
  </div>
</div>
